<nav class="navbar">
  <div class="container navbar-content">
    
    <a routerLink="/" class="nav-brand" (click)="closeMenu()">
      <span class="icon">🏦</span>
      <span class="text">OnionBank</span>
    </a>

    <button class="mobile-menu-btn" (click)="toggleMenu()">
      <span class="hamburger-icon">☰</span>
    </button>

    <div class="nav-links" [class.open]="isMenuOpen">
      
      <a routerLink="/" 
         routerLinkActive="active" 
         [routerLinkActiveOptions]="{exact: true}"
         (click)="closeMenu()">
         📊 Dashboard
      </a>

      <a routerLink="/accounts" 
         routerLinkActive="active"
         (click)="closeMenu()">
         💳 Hesaplar
      </a>

      <a routerLink="/transactions" 
         routerLinkActive="active"
         (click)="closeMenu()">
         💸 İşlemler
      </a>

      @if (isAdmin()) {
        <a routerLink="/customers" 
           routerLinkActive="active"
           (click)="closeMenu()">
           👥 Müşteriler
        </a>

        <a routerLink="/branches" 
           routerLinkActive="active"
           (click)="closeMenu()">
           🏢 Şubeler
        </a>
      }

      <button class="mobile-logout-btn" (click)="onLogout()">
        Çıkış Yap 🚪
      </button>

    </div>

    <div class="nav-profile desktop-only">
      
      <div class="user-info">
          <a routerLink="/profile" class="username" style="cursor: pointer; text-decoration: none;">
              {{ user()?.fullName }}
          </a>
          <span class="user-role">{{ isAdmin() ? 'Yönetici' : 'Müşteri' }}</span>
      </div>

      <div class="avatar">
        {{ user()?.fullName?.charAt(0) }}
      </div>

      <button class="btn-logout" (click)="onLogout()" title="Çıkış Yap">
        🚪
      </button>
    </div>

  </div>
</nav>